<script src='/test/fingerprint.js'></script>
<h1 id="fp">fingerprint</h1>
<script>
function pad (str, max) {
  str = str.toString();
  return str.length < max ? pad("0" + str, max) : str;
}
var fp1 = new Fingerprint();
var fp2 = new Fingerprint({canvas: true});
var fp3 = new Fingerprint({ie_activex: true});
var fp4 = new Fingerprint({screen_resolution: true});
var fp_1 = pad(fp1.get().toString('16'),8);
var fp_2 = pad(fp2.get().toString('16'),8);
//var fp_2 = fp2.get().toString('16').padStart(8,'0');
var fp_3 = pad(fp3.get().toString('16'),8);
var fp_4 = pad(fp4.get().toString('16'),8);
var fp = fp_1 + fp_2 + fp_3 + fp_4;
document.getElementById('fp').innerHTML = fp;
console.log(fp);

</script>
